{
  "extends": ["react-app"],
  "plugins": ["import"],
  "rules": {
    "max-len": [
      "warn",
      80,
      2,
      { "ignoreUrls": true, "ignoreComments": false, "ignoreStrings": false }
    ],
    "no-multi-str": 0,
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react+(|-dom|-router-dom)",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
