.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 80vw;
  margin: auto;
}

.additionalSkills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  max-width: 80vw;
  margin: auto;
}

.adnSkillTitle {
  font-weight: bold;
}

.adnSkillItem {
  padding-left: 8px;

  &:not(:last-of-type)::after {
    content: ",";
  }
}

@media screen and (max-width: 950px) {
  .skills {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    gap: 15px;
  }
}

@media screen and (max-width: 650px) {
  .skills {
    grid-template-columns: 1fr;
    max-width: 100vw;
    gap: 15px;
  }

  .additionalSkills {
    min-width: 90vw;
    justify-content: center;
  }
}
