* {
  box-sizing: border-box;
}

/* new-tegomin-regular - latin */
@font-face {
  font-family: "New Tegomin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/new-tegomin-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/new-tegomin-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/new-tegomin-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/new-tegomin-v5-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/new-tegomin-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/new-tegomin-v5-latin-regular.svg#NewTegomin") format("svg"); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "New Tegomin", serif !important;
}

#no-script {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  width: 100%;
}

#no-script-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  padding: 0.5em;
  border: 0.2em double yellow;
  border-radius: 0.5em;
  background-color: hsl(51, 94%, 81%);
}

#no-script-img {
  width: 200px;
}

#no-script-maintext {
  font-size: 3rem;
}

#no-script-subtext {
  font-size: 1.5rem;
}

@media screen and (max-width: 758px) {
  #no-script-maintext {
    font-size: 2rem;
  }

  #no-script-subtext {
    font-size: 1.2rem;
  }

  #no-script-img {
    width: 100px;
  }
}
