.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
  line-height: 3;
}

.errorText {
  font-size: 2rem;
}

.errorText code {
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 999999px;
  background-color: hsl(16, 100%, 80%);
}

.errorSubtext {
  font-size: 1.2rem;
}

.linkBack {
  padding-top: 10px;
}

.link {
  text-decoration: none;
  display: inline;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 9999px;
  color: var(--color-main);
  background-color: var(--color-btn-background);
  box-shadow: 1px 1px 5px 0px hsla(0, 0%, 0%, 0.4);
}

.link:hover {
  background-color: var(--color-btn-background-hover);
  color: black;
}
