.wrapper {
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--color-panel-background);
  transition: transform 100ms ease-in;
}

.wrapper:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--color-panel-background-hover);
}

@media screen and (max-width: 758px) {
  .wrapper:hover {
    transform: none;
  }
}
