.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 80vw;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media screen and (max-width: 650px) {
  .experience {
    grid-template-columns: 1fr;
    max-width: 100vw;
    gap: 15px;
  }
}
