.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright {
  font-style: italic;
}

.license {
  font-size: 0.7rem;
}

.link {
  text-decoration: none;
  justify-self: center;
  color: var(--color-link-footer);
}

.link:hover {
  color: var(--color-link-footer-hover);
}
