@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.namebadge {
  font-family: "Caveat", cursive;
  font-size: 2em;
  color: var(--color-badge);
  text-decoration: none;
}

.nav ul {
  /* display: inline; */

  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0 10px;
}

.navLink {
  display: inline-block;
  /* padding: 0 10px; */
  color: var(--color-menu-item);
  text-decoration: none;
}

.navLink:focus,
.navLink:hover {
  color: var(--color-menu-item-hover);
  border-bottom: 1px solid var(--color-menu-item);
}

.navLinkActive {
  border-bottom: 1px solid var(--color-menu-item);
}

@media screen and (max-width: 758px) {
  .header {
    justify-content: center;
  }
}
