.openSource {
  max-width: 80vw;
  margin: auto;
}

.openSourceGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.publicHeader {
  grid-column: 1 / 4;
  font-size: 0.8em;
  justify-self: left;
  font-style: italic;
}

.urlTitle {
  text-align: center;
  font-size: 1.5em;
}

.pinnedTitle {
  justify-self: center;
}
.publicTitle {
  font-size: 1.1em;
  cursor: pointer;
}

.url {
  text-align: center;
}

.url a {
  text-decoration: none;
  color: var(--color-link-default);
}

.url a:hover {
  color: var(--color-link-default-hover);
}

.url a:hover::before {
  content: "[ ";
}

.url a:hover::after {
  content: " ]";
}

.foldIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--color-hilight);
}

@media screen and (max-width: 950px) {
  .openSourceGrid {
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    gap: 15px;
  }

  .publicHeader {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 650px) {
  .openSourceGrid {
    grid-template-columns: 1fr;
    max-width: 100vw;
    gap: 15px;
  }

  .wrapper {
    max-width: 100vw;
  }

  .publicHeader {
    grid-column: 1;
    justify-self: center;
  }

  /* .urlTitle {
    display: none;
  } */
}
