.repoItem {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-gap: 15px;
  position: relative;
}

.repoIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--color-hilight);
}

.name {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.desc {
  font-size: 0.9em;
  width: 90%;
  justify-self: center;
  align-self: start;
}

.url {
  text-decoration: none;
  justify-self: center;
  color: var(--color-link-default);
}

.url:hover {
  color: var(--color-link-default-hover);
}

.url:hover::before {
  content: "[ ";
}

.url:hover::after {
  content: " ]";
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8em;
}

.metricItem {
  cursor: pointer;
}

.metricValue {
  padding-left: 8px;
}
