.repoItem {
  display: grid;
  grid-template-rows: auto 1fr auto auto auto;
  grid-gap: 15px;
  position: relative;
}

.repoIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--color-hilight);
}

.name {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.desc {
  font-size: 0.9em;
  width: 90%;
  justify-self: center;
  align-self: start;
}

.languageLicense {
  display: flex;
  font-size: 0.85em;
  justify-content: space-around;
}

.url {
  text-decoration: none;
  justify-self: center;
  color: var(--color-link-default);
}

.url:hover {
  color: var(--color-link-default-hover);
}

.url:hover::before {
  content: "[ ";
}

.url:hover::after {
  content: " ]";
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8em;
}

.metricItem {
  /* cursor: pointer; */
  cursor: default;
}

.metricValue {
  padding-left: 8px;
}

.fork {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  top: 0px;
  right: -5px;
  transform: rotate(35deg) scaleY(0.5);
  color: red;
  text-align: center;
}

.fork:before {
  content: "";
  width: 100%;
  margin: auto;
  height: 2px;
  display: block;
  background: red;
}

.fork:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: red;
}
