.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin: 0 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px gray;
}

.icon:hover,
.icon.focus {
  box-shadow: 2px 2px 10px rgb(101, 202, 92), -2px -2px 10px rgb(101, 202, 92);
}

@media screen and (max-width: 950px) {
}
