.wrapper {
  max-width: 80vw;
  margin: auto;
  background-color: inherit;

  &:hover {
    background-color: inherit;
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    max-width: 100vw;
  }
}
