@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "css/colors.css";

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-main);
}

section {
  padding-bottom: 30px;
}
